html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
.titlename {
	margin: 0;
  text-align:center;
  padding: 60px 0;
  color: #00539F;
  text-shadow: 3px 3px 8px black;

  -webkit-transform: translate(100px) rotate(20deg);
  -webkit-transform-origin: 0 -650px;

  transform: translate(100px) rotate(20deg);
  transform-origin: 0 -650px;
}

h1 {
  font-size: 60px;
  text-align: center;
}
div {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  text-align:center;
}
.display1 {
  margin: 0;
  text-align:center;
  padding: 10px 0;
  color: #00539F;
  text-shadow: 3px 3px 8px black;


  -webkit-transform: translate(100px) rotate(20deg);

}
.display3 {
	  margin: 0;
  padding: 10px 0;
  color: #00539F;
  text-shadow: 3px 3px 8px black;


  -webkit-transform: translate(100px) rotate(20deg);

}
.display4 {
	  margin: 0;
  padding: 10px 0;
  color: #00539F;
  text-shadow: 3px 3px 8px black;



}
.display5 {
  margin: 0;
  padding: 10px 0;
  color: #00539F;
  text-shadow: 3px 3px 8px black;



}
.display6 {
	  margin: 0;
  padding: 10px 0;






}
.display2 {
  margin: 0;
  padding: 10px 0;
  color: #00539F;


h1 {
  margin: 0;

}

}

img {
  display: block;
  margin: 0 auto;
}
.stylemyimage {
	transform: rotate(0.5turn);
}